@import "bootstrap.scss";
@import "heights";
@import "animations";
@import '_sizes';

body {
    font-family:"BebasNeue Regular" !important;
}

.burger-wrapper {
    @extend .row;
    position:fixed;
    z-index:1;
}

#menu_burger {
    position:fixed;
    top:51px;
    left:51px;
    color:#dadada;
    font-size:30px;
    border-radius: 100%;
    padding: 9px;
    background: #545454;
    @media (max-width:$small) {
        font-size:20px;
        padding:7px;
        top:18px;
        left:18px;
    }
}

