@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%) translateX(-50%);
    opacity:1;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity:1;
    }
}

@keyframes colorChange {
    
    0% {
        color:hsl(110, 70%, 45%)
    }
    
    25% {
        color:hsl(61, 80%, 60%)
    }

    50% {
        color:hsl(28, 95%, 75%)
    }

    75% {
        color:hsl(28, 91%, 44%)
    }
    
    100% {
        color:hsl(110, 70%, 45%)
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity:0;
    }
    99% {
        opacity:1;
    }
    100% { opacity:1;

    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity:0;
    }
    99% {
        opacity:1;
    }
    100% { opacity:1;

    }
}

@keyframes fade-in {
    0% {
        opacity:0;
    }
    99% {
        opacity:1;
    }
    100% { opacity:1;

    }
}

@keyframes neonStutter {
    0% {
        background: none;
        -webkit-background-clip: text;
        background-clip: text;
    }
    25% {background: linear-gradient(to right, #ff9f3f 0%,#fff549 39%,#a1ff49 100%);}
    34% {background:#212121;}
    38% {background: linear-gradient(to right, #ff9f3f 0%,#fff549 39%,#a1ff49 100%);}
    42% {background:#212121;}
    46% {background: linear-gradient(to right, #ff9f3f 0%,#fff549 39%,#a1ff49 100%);}
    50% {background:#212121;}
    100% {
        background: linear-gradient(to right, #ff9f3f 0%,#fff549 39%,#a1ff49 100%);
        -webkit-background-clip: text;
        background-clip: text;
    }
}

@-webkit-keyframes neonStutter {
    0% {
        background: none;
        -webkit-background-clip: text;
        background-clip: text;
    }
    25% {background: linear-gradient(to right, #ff9f3f 0%,#fff549 39%,#a1ff49 100%);}
    34% {background:#212121;}
    38% {background: linear-gradient(to right, #ff9f3f 0%,#fff549 39%,#a1ff49 100%);}
    42% {background:#212121;}
    46% {background: linear-gradient(to right, #ff9f3f 0%,#fff549 39%,#a1ff49 100%);}
    50% {background:#212121;}
    100% {
        background: linear-gradient(to right, #ff9f3f 0%,#fff549 39%,#a1ff49 100%);
        -webkit-background-clip: text;
        background-clip: text;
    }
}