.embedpage {
    @extend .row;
    min-height:100vh;
    display:block;
    overflow:auto;
    background-image: url("http://i.imgur.com/Eiawh92.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    box-shadow: -15px 0px 60px 0px rgba(0,0,0,1);
   
    iframe {
        box-shadow:inset 0px 3px 20px 2px rgba(0, 0, 0, 0.51);
        & div .cookiePolicy {
            opacity:0 !important;
        }
    }
}