body {
}

.height1 {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.7);
}

.height2 {
    box-shadow: 0px 12px 24px 0px rgba(0,0,0,.7);
}

.height3 {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.70);
}